<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/cssHGenerale.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
<div class="pag1">
	<div class="banner">
	<img src="https://image.freepik.com/free-vector/monkey-logo-design-vector-illustration_104950-126.jpg" id="logo">
  <ul class="navigation-bar">
		<li><a href="/">Home</a></li>
		<li><a href=/informazioni>Info</a></li>
		<li class="dropdown1">
		<div class="dropbtn1">Biglietti</div>
		<div class="dropdown-content1">
		<a href=/addVisita>Prenota</a>
	    <a href=/rimVisita>Annulla Prenotazione</a>
		</div>
		</li>
		<li class="dropdown1">
		<div class="dropbtn1">Operazioni</div>
		<div class="dropdown-content1">
				<a href="/addArea">Inserisci Area</a>
				<a href="/addAnimale">Inserisci Animale</a>
				<a href="/addHabitat">Inserisci Habitat</a>
				<a href="/addResponsabile">Inserisci Responsabile</a>
				<a href="/editHabitat">Modifica Habitat</a>
				<a href="/editAnimale">Modifica Animale</a>
				<a href="/editArea">Modifica Area</a>
				<a href="/rimAnimale">Elimina Animale</a>
				<a href="/rimArea">Elimina Area</a>
				<a href="/rimHabitat">Elimina Habitat</a>
				<a href="/rimResponsabile">Elimina Responsabile</a>
				<a href="/area">Lista Aree</a>
				<a href="/visita">Lista Visite</a>
				<a href="/responsabile">Lista Responsabili</a>
			   <a href="/animale">Lista Animali</a>
				</div>
		</li>
		<li class="dropdown1">
			<a href="/habitatGenerale" class="dropbtn1">Habitat</a>
				<div class="dropdown-content1">
				<a href="Habitat_Marino.html">Marino</a>
				<a href="Habitat_Savana.html">Savana</a>
				<a href="Habitat_Foresta.html">Foresta</a>
				</div>
		</li>		
	  </ul>
	  </div>
	  <br>
	  <br>
	  <br>
	
			<h1>HABITAT</h1>
		<p>Vieni a scoprire i nostri habitat, pensati apposta per ogni specie </p>
		
	<div class="spacer"></div>
</div>
</header>
</body>
</html>