body{
	  margin:0px;
	  text-align:center;
	  font-family: 'Oswald', sans-serif;
	  font-size: 18px;
	}

.navigation-bar{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 50px auto;
  list-style: none;
  position: fixed;
  top:0px;
}

.navigation-bar li {
  width: 105px;
  height: 50px;
  text-align: center;
}
.navigation-bar li a {
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-bar li:hover a {
  color: #d94f5c;
}

.navigation-bar li:not(:last-child) {
  margin-right: 30px;
}

li.dropdown {
    display: inline-block;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content, .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a, .dropdown-content1 a{
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}


.dropbtn1{
 color: yellow;
  text-decoration: none;
  text-transform: uppercase;
}



.banner{
	
	color:white;
}

.pag1 {
	background-image:url("https://i.pinimg.com/originals/e3/f2/b1/e3f2b12d8dae478ca6450c1beb2375e1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}

.pag1 img{
	display: block;
	margin-left: 100px;
	margin-right: auto;
	width: 20%;
}
#logo{
	display: block;
	margin-left:auto;
	margin-right:100px;
	width: 9%;
}

.ImgC{
	font-size:40px;
	font-style:italic;
	color:yellow;
	
}


.parallax {
  background-image: url("https://i.pinimg.com/originals/55/10/54/551054340cdd3a9ef4452ec51b513085.jpg");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer {
	font-size: 0; 
    height: 300px;
    line-height: 0;
}

.spacer2 {
	font-size: 0; 
    height: 100px;
    line-height: 0;
}

.InformazioniC2{
  flex: 35%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 100%;
  padding: 0 10px;
  
}

.InformazioniR{
	display:flex;
	justify-content: left;
	flex-wrap: wrap;
	background-color:cyan;
}

.InformazioniC1{
  flex: 15%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 50%;
}

.InformazioniC1 img {
  width: 100%;
  object-fit:cover;
}

.InformazioniC2-2{
  flex: 35%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 100%;
  padding: 0 10px;
}

.InformazioniR2{
	display:flex;
	justify-content: right;
	flex-wrap: wrap;
	background-color:pink;
}

.InformazioniC1-2{
  flex: 15%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 50%;
}

.InformazioniC1-2 img {
  width: 100%;
  object-fit:cover;
  
}

.InformazioniC2-3{
  flex: 35%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 100%;
  padding: 0 10px;
}

.InformazioniR3{
	display:flex;
	justify-content: right;
	flex-wrap: wrap;
	background-color:green;
}

.InformazioniC1-3{
  flex: 15%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 50%;
}

.InformazioniC1-3 img {
  width: 100%;
  object-fit:cover;
  
}

a {
	color: black;
}
