body{
	  margin:0px;
	  text-align:center;
	  font-family: 'Oswald', sans-serif;
	  font-size: 18px;
	}

.navigation-bar{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 50px auto;
  list-style: none;
  position: fixed;
  top:0px;
}

.navigation-bar li {
  width: 105px;
  height: 50px;
  text-align: center;
}
.navigation-bar li a {
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
}

.dropbtn1{
 color: yellow;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-bar li:hover a {
  color: #d94f5c;
}

.navigation-bar li:not(:last-child) {
  margin-right: 30px;
}

li.dropdown {
    display: inline-block;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content, .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a, .dropdown-content1 a{
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}


.dropbtn1{
 color: yellow;
  text-decoration: none;
  text-transform: uppercase;
}



.banner{
	
	color:white;
}

.pag1 {
	background-image:url("/images/foresta.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}

.pag1 img{
	display: block;
	margin-left: 100px;
	margin-right: auto;
	width: 20%;
}
#logo{
	display: block;
	margin-left:auto;
	margin-right:100px;
	width: 9%;
}


.parallax {
  background-image:url("/images/savana.jpg");;

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer {
	font-size: 0; 
    height: 300px;
    line-height: 0;
}

.spacer2 {
	font-size: 0; 
    height: 100px;
    line-height: 0;
}

.InformazioniC2{
  flex: 35%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 100%;
  padding: 0 10px;
  
}

.InformazioniR{
	display:flex;
  align-items: center;
  justify-content: center;
	flex-wrap: wrap;
	color:white;
}

.InformazioniC1{
  flex: 15%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 50%;
}

.InformazioniC1 img {
  object-fit:cover;
    max-width:400px;
}

.InformazioniC2{
  flex: 35%; /*Cambia quanta % l'oggetto si prende all'interno della flexbox*/
  max-width: 100%;
  padding: 0 10px;
}

.InfoContainer{
	padding-top:15px;
}

.subTitolo{
	font-size:25px;
	color:yellow;
	font-family:italic;
}
.Testo{
	font-size:20px;
}

ul{
	 list-style-type: none;
}

.InformazioniR a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    font-style:italic;
}


 .InformazioniR a:hover{
	  background-color: yellow;
	}
	
	.ImgC img{
	max-width:500px;
	max-height:500px;
	}
