<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/basePersonale.html :: headerfiles(title=#{pageTitle.AreaPersonale})"> </head>
<body>
  
  <header th:replace="fragments/basePersonale.html :: intestazione"></header>
    		<div class="parallax">
    	<div class="Titolo">Lista delle prenotazioni</div>
  <tr th:each="visita : ${visite}">                
    <td th:text="${visita?.nome}"></td>
    <td th:text="${visita?.cognome}"></td>
    <td th:text="${visita?.data}"></td>
    <td>
        <form method="POST" th:action="@{/delete}">
            <input type="hidden" name="visitaId" id="visitaId" th:value="${visita.Id}" />
             <button type="submit" name="submit" value="value" class="link-button">Elimina Prenotazione</button>
		</form>
    </td>
</tr>
</div>
<div class="parallax"></div>
</body>
</html>



