<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/baseForm.html :: headerfiles(title='Login')"> </head>
<body>
	<header th:replace="fragments/baseForm.html :: intestazione"></header>
	<div class="parallax">
	<div>
    	<div class="titolo">Login</div>
    	</div>
        <form name="f" th:action="@{/login}" method="post">  
        <div class="form">             
            <fieldset>
                <legend>LOGIN</legend>
                <span th:if="${param.error}" class="alert alert-error">    
                    Username o password invalida
                </span>
                <span th:if="${param.logout}" class="alert alert-success"> 
                 Sei stato disconnesso
                </span>
                <span for="username">Username</span>
                <input type="text" id="username" name="username"/>        
                <span for="password">Password</span>
                <input type="password" id="password" name="password"/>    
                <span class="form-actions">
                    <button type="submit" class="btn">Log in</button>
                </span>
            </fieldset>
            </div>
    </div>
    	<div class="parallax"></div>
  </body>
</html>